.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    width: 30vw;
    height: fit-content;
    border: solid lightgrey 1px;
    border-radius: 1px;
    background-color: white;
    margin: auto;
    padding: 20px;
    margin-top: 1%;
}

.logInTitle {
    color: #1072C4;
}

.logInClick {
    font-weight: bold;
    color: #1072C4;
}
.logInClick:hover {
    cursor: pointer;
    color: #FC4601;
}

.logInUserName {
    width: 100%;
    /* for some reason not extending all the way! */
}