.postCard{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    width: 80vw;
    border: solid lightgrey 1px;
    border-radius: 1px;
    background-color: white;
    margin: auto;
    padding: 20px;
}

.postPostedHeader{
    display: flex;
    flex-direction: row;
}

.postDetails{
    display: flex;
    flex-direction: column;
}

.postSubreddit:hover{
    cursor: pointer;
}

.postUser:hover{
    cursor: pointer;
}

.postUser{
    margin-left: 1%;
}