.postForm{
    display: flex;
    flex-direction: column;
}

.createFormBody{
    border: solid lightgrey 1px;
    border-radius: 1px;
}

.commentCard{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-left: solid black 1px;
}

.commentHeader{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.commentDetails{
    margin-left: 10px;
}