.postCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    color: black;
    width: 80vw;
    border: solid lightgrey 1px;
    border-radius: 1px;
    background-color: white;
    margin: auto;
    padding: 20px;
}

.postCount{
    width: 5%
}

.postContent {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.postHolder {
    display: flex;
    flex-direction: column;
}

.postSubreddit:hover{
    cursor: pointer;
}

.postUser:hover{
    cursor: pointer;
}

.postUser{
    margin-left: 1%;
}

.postCard:hover{
    cursor: pointer;
}