.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subInfo { 
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
}

.subHeader {
    display: flex;
    flex-direction: column;
}

.subFeed {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}