.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.subFeed {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}